In [3]:
def celsius_fahrenheit():
    # F = (C*9/5)+32
    fahrenheit = (22*9/5)+32
    print (fahrenheit)
    return fahrenheit

In [4]:
celsius_fahrenheit()

71.6

71.6

In [5]:
def celsius_fahrenheit(C):
    # F = (C*9/5)+32
    fahrenheit = (C*9/5)+32
    print (fahrenheit)
    return fahrenheit

In [6]:
celsius_fahrenheit()

TypeError: celsius_fahrenheit() missing 1 required positional argument: 'C'

In [7]:
celsius_fahrenheit(100)

212.0

212.0

In [8]:
#make function to convert F to C

In [9]:
def fahrenheit_celsius(F):
    # F = (C*9/5)+32
    celsius = (F-32)*5/9
    return celsius

In [10]:
fahrenheit_celsius(100)

37.77777777777778

In [11]:
import pandas as pd

In [12]:
dem_health_data = pd.read_csv("Dem_Health_Full.txt", sep="\t")

In [13]:
dem_health_data.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0